<div class="container">
  <h1 class="d-flex justify-content-center my-5">
    サイト概要
  </h1>
  <p>「ゴルフレ」はゴルファー専用のSNSサイトです。<br>
    フォロワーとチャットを楽しんだり、ランキング機能でスコアを競うことができます。
  </p>
  <div class="d-flex justify-content-center my-5"><%= image_tag asset_path('depositphotos_5200995-stock-photo-playing-golf-club-and-ball.jpeg') %></div>
</div>