<div class="container">
  <h1 class="d-flex justify-content-center my-5">
    サイト概要
  </h1>
  <p>「ゴルフレ」はゴルファー専用のSNSサイトです。<br>
    フォロワーとチャットを楽しんだり、ランキング機能でスコアを競うことができます。
  </p>
  <div class="d-flex justify-content-center my-5"><%= image_tag asset_path('eeed3f3e149a117f5e7154f1f603b327_t.jpeg') %></div>
</div>