<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <tbody>
    <% @golf_spots.each do |golf_spot| %>
      <tr>
        <td><%= golf_spot.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>