<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>チャット一覧</strong></h4>
  </div>

  <% @chat_rooms.each do |chat_room| %>
    <% chat_room.users.each do |user| %>
      <div class="row">
        <% if user.id == current_user.id %>
        <% else %>
          <p><%= link_to "#{user.name}さんとのチャット", chat_room_path(chat_room.id) %></a></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>