<% messages.each do |chat| %>
  <div id="message_<%=chat.id%>">
  <% if chat.user_id == current_user.id %>
    <p style="text-align: left;"><%= chat.body %></p>
  <% else %>
    <p style="text-align: right;"><%= chat.body %></p>
  <% end %>
  </div>
<% end %>
